@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local('Fira Sans Thin Italic'), local('FiraSans-ThinItalic'), url(https://fonts.gstatic.com/s/firasans/v10/va9A4kDNxMZdWfMOD5VvkrCqUTTfdA.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local('Fira Sans ExtraLight Italic'), local('FiraSans-ExtraLightItalic'), url(https://fonts.gstatic.com/s/firasans/v10/va9f4kDNxMZdWfMOD5VvkrAGQCf8VFw.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Fira Sans Light Italic'), local('FiraSans-LightItalic'), url(https://fonts.gstatic.com/s/firasans/v10/va9f4kDNxMZdWfMOD5VvkrBiQyf8VFw.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Sans Italic'), local('FiraSans-Italic'), url(https://fonts.gstatic.com/s/firasans/v10/va9C4kDNxMZdWfMOD5VvkrjNYTc.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Fira Sans Medium Italic'), local('FiraSans-MediumItalic'), url(https://fonts.gstatic.com/s/firasans/v10/va9f4kDNxMZdWfMOD5VvkrA6Qif8VFw.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Fira Sans SemiBold Italic'), local('FiraSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/firasans/v10/va9f4kDNxMZdWfMOD5VvkrAWRSf8VFw.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'), url(https://fonts.gstatic.com/s/firasans/v10/va9f4kDNxMZdWfMOD5VvkrByRCf8VFw.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Fira Sans ExtraBold Italic'), local('FiraSans-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/firasans/v10/va9f4kDNxMZdWfMOD5VvkrBuRyf8VFw.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Fira Sans Black Italic'), local('FiraSans-BlackItalic'), url(https://fonts.gstatic.com/s/firasans/v10/va9f4kDNxMZdWfMOD5VvkrBKRif8VFw.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Fira Sans Thin'), local('FiraSans-Thin'), url(https://fonts.gstatic.com/s/firasans/v10/va9C4kDNxMZdWfMOD5Vn9LjNYTc.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Fira Sans ExtraLight'), local('FiraSans-ExtraLight'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnWKneQhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Fira Sans Light'), local('FiraSans-Light'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnPKreQhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(https://fonts.gstatic.com/s/firasans/v10/va9E4kDNxMZdWfMOD5Vvk4jO.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnZKveQhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnSKzeQhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnLK3eQhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Fira Sans ExtraBold'), local('FiraSans-ExtraBold'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnMK7eQhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Fira Sans Black'), local('FiraSans-Black'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnFK_eQhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUOjIg1_i6t8kCHKm459WxZqh7g29Y.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZBg_z-PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZYgzz-PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm459WxRzS7j.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZOg3z-PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZFgrz-PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZcgvz-PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZbgjz-PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZSgnz-PZ1.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm45_QpRzS7j.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_aZA3g3D-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3g3D-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3g3D-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3g3D-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3g3D-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_c5H3g3D-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_epG3g3D-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local('Raleway Thin Italic'), local('Raleway-ThinItalic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptqg8zYS_SKggPNyCgwLrFoJfA.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptpg8zYS_SKggPNyCgwgqB_AtCe.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Raleway Light Italic'), local('Raleway-LightItalic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptpg8zYS_SKggPNyCgw5qN_AtCe.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptsg8zYS_SKggPNyCg4TYFv.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptpg8zYS_SKggPNyCgwvqJ_AtCe.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptpg8zYS_SKggPNyCgwkqV_AtCe.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptpg8zYS_SKggPNyCgw9qR_AtCe.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptpg8zYS_SKggPNyCgw6qd_AtCe.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Raleway Black Italic'), local('Raleway-BlackItalic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptpg8zYS_SKggPNyCgwzqZ_AtCe.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptsg8zYS_SKggPNwE44TYFv.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwOIpWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwIYqWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwN4rWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwPIsWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwIouWqZPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Raleway Black'), local('Raleway-Black'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwK4vWqZPBQ.ttf) format('truetype');
}
html,
body {
  display: block;
  height: 100%;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
.header {
  position: absolute;
  left: 0;
  height: 85px;
  width: 100%;
  padding-top: 10px;
  z-index: 1000;
}
.header .row {
  display: flex;
  justify-content: space-between;
}
.header .logo .logo_img {
  width: 100px;
  height: auto;
}
.header .contacts {
  display: flex;
  align-items: flex-start;
}
.header .contacts .phones {
  margin-right: 20px;
}
.header .contacts .phones ul {
  list-style: none;
}
.header .contacts .phones ul li {
  display: flex;
  align-items: center;
}
.header .contacts .phones ul li img {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
.header .contacts .phones ul li .phone_numb {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.header .contacts .phones ul li .callback {
  display: block;
  margin-left: auto;
  color: #FFFFFF;
  font-size: 14px;
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
}
.header .contacts .languages {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.header .contacts .languages span {
  color: #FFFFFF;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  margin-right: 5px;
}
.header .contacts .languages .arrow {
  width: 7px;
  height: 4px;
}
.header .contacts .hamburger .hamburger_img {
  width: 30px;
  height: 15px;
  margin-top: -5px;
}
.main_slider {
  height: 800px;
  background: #000000;
}
.main_slider .container {
  position: relative;
}
.main_slider .carousel-item img {
  margin-left: auto;
}
.main_slider .carousel-caption {
  left: 0;
  text-align: left;
  bottom: -150px;
  width: 100%;
  padding-left: 40px;
}
.main_slider .carousel-caption .subtitle {
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-size: 23px;
  font-weight: 200;
  padding-left: 120px;
  margin-bottom: -10px;
}
.main_slider .carousel-caption .subtitle::before {
  content: url(images/main_dots.png);
  display: block;
  width: 250px;
  height: 130px;
  position: absolute;
  top: -70px;
  left: 0;
}
.main_slider .carousel-caption h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  font-weight: bold;
}
.main_slider .carousel-caption .company {
  font-family: 'Fira Sans', sans-serif;
  font-size: 30px;
  margin-top: 20px;
}
.main_slider .carousel-caption .social {
  list-style: none;
  position: absolute;
  right: 0;
  top: 0;
}
.main_slider .carousel-caption .social li {
  margin-bottom: 20px;
}
.main_slider .carousel-caption .social li .social_img {
  width: 20px;
  height: auto;
}
.main_slider .carousel-caption .main_btn {
  margin-top: 60px;
}
.main_slider .carousel-caption .main_btn .consultation {
  padding: 18px 31px;
  color: #FFFFFF;
  border: 1px solid #F6155E;
  border-radius: 100px;
  background-color: #F6155E;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  transition: all 0.5s;
}
.main_slider .carousel-caption .main_btn .consultation:hover {
  text-decoration: none;
  background-color: #880b33;
  border-color: #880b33;
}
.main_slider .carousel-caption .mouse_left {
  position: relative;
  left: -100px;
  top: -400px;
}
.main_slider .carousel-caption .mouse_left .mouse {
  width: 20px;
  height: 30px;
}
.main_slider .carousel-caption .mouse_left::before {
  content: "";
  display: block;
  height: 130px;
  width: 1px;
  margin-left: 9px;
  margin-bottom: 20px;
  border-left: 1px solid #a8a8a8;
}
.main_slider .carousel-caption .mouse_left::after {
  content: "";
  display: block;
  height: 130px;
  width: 1px;
  margin-left: 9px;
  margin-top: 20px;
  border-left: 1px solid #a8a8a8;
}
.main_slider .carousel-indicators {
  right: auto;
  bottom: 0;
}
.provide {
  height: auto;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.provide h2 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 23px;
  font-style: italic;
  color: #000000;
  padding-top: 90px;
  padding-bottom: 30px;
  position: relative;
  padding-left: 15px;
}
.provide h2 span {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: medium;
  color: #F6155E;
  text-transform: uppercase;
  font-style: normal;
}
.provide h2::before {
  content: url(images/title_rectangle.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 116px;
  height: 184px;
  z-index: -1;
}
.provide .provide_block {
  margin-top: 50px;
}
.provide .provide_block h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  padding-bottom: 20px;
}
.provide .provide_block h3 span {
  position: absolute;
  color: #F6155E30;
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-size: 102px;
  z-index: -1;
  left: -40px;
  top: -60px;
  font-weight: 300;
}
.provide .provide_block ul {
  list-style-image: url(images/list_style.png);
}
.provide .provide_block ul li {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
  margin-top: 20px;
}
.provide .provide_block .provide_btn {
  margin-top: 80px;
  margin-bottom: 50px;
}
.provide .provide_block .provide_btn .provide_link {
  padding: 18px 31px;
  color: #FFFFFF;
  border: 1px solid #F6155E;
  border-radius: 100px;
  background-color: #F6155E;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  position: relative;
  transition: all 0.5s;
}
.provide .provide_block .provide_btn .provide_link:hover {
  text-decoration: none;
  background-color: #880b33;
  border-color: #880b33;
}
.provide .provide_block .provide_btn .provide_link::after {
  content: url(images/provide_dots.png);
  position: absolute;
  right: -70px;
  bottom: -50px;
  width: 157px;
  height: 73px;
  z-index: -1;
}
.best {
  height: auto;
  background-image: url(images/best_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-bottom: 50px;
}
.best h2 {
  color: #FFFFFF;
  font-family: 'Fira Sans', sans-serif;
  font-size: 23px;
  font-style: italic;
  margin-top: 70px;
  margin-bottom: 60px;
  font-weight: 200;
  line-height: 60px;
}
.best h2::before {
  content: url(images/best_dots.png);
  width: 220px;
  height: 67px;
  position: absolute;
  left: -150px;
  top: 70px;
}
.best h2 span {
  display: block;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  position: relative;
  letter-spacing: 5px;
  font-size: 30px;
}
.best h2 span::before {
  content: "";
  width: 60px;
  height: 2px;
  border-top: 1px solid #F6155E;
  position: absolute;
  left: 50%;
  margin-left: -30px;
}
.best .best_block {
  margin-bottom: 30px;
}
.best .best_block .best_icon {
  height: 55px;
  width: 55px;
  margin-bottom: 35px;
}
.best .best_block h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.best .best_block .best_desc {
  color: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 18px;
  padding: 0 10px;
}
.best .best_btn {
  margin-top: 80px;
  margin-bottom: 50px;
  z-index: 10;
}
.best .best_btn .consultation {
  padding: 18px 31px;
  color: #FFFFFF;
  border: 1px solid #F6155E;
  border-radius: 100px;
  background-color: #F6155E;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  position: relative;
  z-index: 1;
  transition: all 0.5s;
}
.best .best_btn .consultation:hover {
  text-decoration: none;
  background-color: #880b33;
  border-color: #880b33;
}
.best .best_btn .consultation::after {
  content: url(images/best_btn_dots.png);
  position: absolute;
  left: -70px;
  bottom: -40px;
  width: 120px;
  height: 65px;
  z-index: -1;
}
.work {
  height: auto;
  background-image: url(images/work_bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
}
.work h2 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 23px;
  font-style: italic;
  color: #000000;
  padding-top: 90px;
  padding-bottom: 30px;
  position: relative;
  padding-left: 15px;
}
.work h2 span {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: medium;
  color: #F6155E;
  text-transform: uppercase;
  font-style: normal;
}
.work h2::before {
  content: url(images/title_rectangle.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 116px;
  height: 184px;
  z-index: -1;
}
.work .steps {
  margin-top: -120px;
}
.work .work_block {
  position: relative;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 12px #00000030;
  margin-bottom: 70px;
  padding-left: 25px;
}
.work .work_block p {
  margin-bottom: 0;
}
.work .work_block .work_icon {
  width: 60px;
  height: 60px;
  background-color: #F6155E;
  border-radius: 100%;
  position: absolute;
  top: -30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work .work_block .work_icon img {
  height: 33px;
  width: auto;
}
.work .work_block .step_one,
.work .work_block .step_two,
.work .work_block .step_three,
.work .work_block .step_four {
  background-image: url(images/work_ell.png);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.work .work_block .step_one {
  font-family: 'Fira Sans', sans-serif;
  font-size: 40px;
  font-style: italic;
  position: absolute;
  left: -250px;
  top: 2px;
  width: 125px;
  height: 125px;
  border-top: 2px solid #707070;
  border-left: 2px solid #707070;
  border-bottom: 2px solid #707070;
  border-right: 2px solid #F6155E;
  border-radius: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.work .work_block .step_one::after {
  position: absolute;
  content: url(images/work_line.png);
  width: 60px;
  height: 10px;
  right: -60px;
  top: 25px;
}
.work .work_block .step_two {
  font-family: 'Fira Sans', sans-serif;
  font-size: 40px;
  font-style: italic;
  position: absolute;
  left: -250px;
  top: 2px;
  width: 125px;
  height: 125px;
  border-top: 2px solid #707070;
  border-left: 2px solid #707070;
  border-bottom: 2px solid #F6155E;
  border-right: 2px solid #F6155E;
  border-radius: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.work .work_block .step_two::after {
  position: absolute;
  content: url(images/work_line.png);
  width: 60px;
  height: 10px;
  right: -60px;
  top: 25px;
}
.work .work_block .step_three {
  font-family: 'Fira Sans', sans-serif;
  font-size: 40px;
  font-style: italic;
  position: absolute;
  left: -250px;
  top: 2px;
  width: 125px;
  height: 125px;
  border-top: 2px solid #707070;
  border-left: 2px solid #F6155E;
  border-bottom: 2px solid #F6155E;
  border-right: 2px solid #F6155E;
  border-radius: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.work .work_block .step_three::after {
  position: absolute;
  content: url(images/work_line.png);
  width: 60px;
  height: 10px;
  right: -60px;
  top: 25px;
}
.work .work_block .step_four {
  font-family: 'Fira Sans', sans-serif;
  font-size: 40px;
  font-style: italic;
  position: absolute;
  left: -250px;
  top: 2px;
  width: 125px;
  height: 125px;
  border-top: 2px solid #707070;
  border-left: 2px solid #F6155E;
  border-bottom: 2px solid #F6155E;
  border-right: 2px solid #F6155E;
  border-radius: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.work .work_block .step_four::after {
  position: absolute;
  content: url(images/work_line.png);
  width: 60px;
  height: 10px;
  right: -60px;
  top: 25px;
}
.work .work_block h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 500;
}
.work .work_block p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.work .last_stage_row {
  margin-top: -350px;
  padding-bottom: 100px;
}
.work .last_stage_row .last_stage {
  border: 15px solid #F6155E;
  border-radius: 100%;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 30px;
}
.work .last_stage_row .last_stage h3 {
  font-family: 'Raleway', sans-serif;
  color: #F6155E;
  font-size: 35px;
  font-weight: 500;
}
.work .last_stage_row .last_stage p {
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 16px;
}
.work .last_stage_row .step_five {
  position: absolute;
  top: -35px;
  right: -35px;
  height: 125px;
  width: 125px;
  border: 2px solid #F6155E;
  border-radius: 100%;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fira Sans', sans-serif;
  font-size: 40px;
  font-style: italic;
}
.work .last_stage_row .last_stage_icon {
  position: absolute;
  bottom: -20px;
  left: -20px;
  height: 90px;
  width: 90px;
  border: 2px solid #F6155E;
  border-radius: 100%;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work .last_stage_row .last_stage_icon img {
  width: 58px;
  height: 36px;
}
@media (min-width: 2400px) {
  .container {
    max-width: 1600px;
  }
}
